.eggs/
daze\.egg-info/

daze/__pycache__/

daze/data/__pycache__/

daze/data/cifar10/__pycache__/
*.pyc
*.DS_Store

daze/__pycache__
daze/data/__pycache__
daze/nets/__pycache__
daze/nets/encoders/__pycache__
daze/nets/decoders/__pycache__
daze/tools/__pycache__
daze.egg-info
\.coverage

daze/tools/saves/
