deepzip\.egg-info/

deepzip/__pycache__/

deepzip/data/__pycache__/

deepzip/data/cifar10/__pycache__/
*.pyc
*.DS_Store

deepzip/__pycache__
deepzip/data/__pycache__
deepzip/nets/__pycache__
deepzip/nets/encoders/__pycache__
deeipzip/nets/decoders/__pycache__
deeipzip/tools/__pycache__
deepzip.egg-info
\.coverage

deepzip/tools/saves/
